new function() {

  var <%= namespace %> = new base2.Package(this, {
    name:    '<%= namespace %>',
<% if (parent) { -%>
    parent:  '<%= parent %>',
<% } -%>
    imports: 'miruken.mvc',
    exports: '<%= capitalName %>'
  });

  eval(this.imports);

  var <%= capitalName %> = Controller.extend({
    $properties:{

    },
    constructor: function(){

    }
  });

  eval(this.exports);

}
